.calendar-container {
  background-color: #151d27;
  color: white;
  border-radius: 20px;
  padding: 16px;
  & select {
    color: #e9edf7;
  }
  .rdrDayDisabled {
    background-color: transparent;
  }
  .rdrDayDisabled .rdrDayNumber span {
    color: #57595b;
  }
  .rdrDayNumber span {
    color: #e9edf7;
  }
  .rdrDayPassive span {
    color: #57595b;
  }
}
